black
black[jupyter]
bump2version
codespell
coverage
deadlink
flake8
ipykernel
livereload
mkdocstrings-python
nbconvert
nbformat
pip
pygments
pymdown-extensions
sphinx
tox
twine
watchdog
wheel
zensical
