fiona
gdown
geopandas
huggingface_hub
ipympl
leafmap
localtileserver
matplotlib
opencv-python-headless
patool
pycocotools
pyproj
rasterio
rioxarray
sam2
scikit-image
scikit-learn
segment-anything-hq
segment-anything-py
timm
tqdm
xarray
xyzservices
