fiona
gdown
geopandas
huggingface_hub
ipympl
leafmap
localtileserver
matplotlib
opencv-python-headless
patool
pycocotools
pyproj
rasterio
sam2
segment-anything-hq
segment-anything-py
timm
tqdm
xarray
xyzservices
