geopandas
numpy
opencv-python-headless
rasterio
tqdm
# fiona
# gdown
# huggingface_hub
# ipympl
# leafmap
# localtileserver
# matplotlib
# patool
# pycocotools
# pyproj
# rioxarray
# sam2
# scikit-image
# scikit-learn
# segment-anything-hq
# segment-anything-py
# timm
# xarray
# xyzservices
