on:
    push:
        branches:
            - main
    pull_request:
        branches:
            - main

name: Linux build
jobs:
    py-check:
        runs-on: ${{ matrix.config.os }}
        name: ${{ matrix.config.os }} (${{ matrix.config.py }})
        strategy:
            fail-fast: false
            matrix:
                config:
                    - { os: ubuntu-latest, py: "3.10" }
                    - { os: ubuntu-latest, py: "3.11" }
                    - { os: ubuntu-latest, py: "3.12" }

        env:
            SDKROOT: /Library/Developer/CommandLineTools/SDKs/MacOSX.sdk
        steps:
            - name: CHECKOUT CODE
              uses: actions/checkout@v6
            - name: SETUP PYTHON
              uses: actions/setup-python@v6
              with:
                  python-version: ${{ matrix.config.py }}
            - name: Install GDAL system dependencies
              run: sudo apt-get update && sudo apt-get install -y gdal-bin libgdal-dev

            - name: Set GDAL version environment variables (optional, adapts to GDAL version)
              run: |
                    export CPLUS_INCLUDE_PATH=/usr/include/gdal
                    export C_INCLUDE_PATH=/usr/include/gdal

            - name: Install GDAL Python bindings
              run: pip install --upgrade pip && pip install GDAL
            - name: Test GDAL installation
              run: |
                  python -c "from osgeo import gdal"
                  gdalinfo --version
            - name: Install dependencies
              run: |
                  python -m pip install --upgrade pip
                  pip install --user --no-cache-dir Cython
                  pip install --user -r requirements.txt
                  pip install --user -r requirements_dev.txt
                  pip install --user .
            - name: PKG-TEST
              run: |
                  python -m unittest discover tests/
