on:
    push:
        branches:
            - main
    pull_request:
        branches:
            - main

name: Windows build
jobs:
    test-windows:
        runs-on: windows-latest
        defaults:
            run:
                shell: bash -el {0}
        steps:
            - uses: actions/checkout@v6
            - name: Setup micromamba
              uses: mamba-org/setup-micromamba@v2
              with:
                  environment-name: test-env
                  create-args: >-
                      python=3.12
                      gdal
                      pyproj
                      -c conda-forge
                  cache-environment: true
            - name: Test GDAL installation
              run: |
                  python -c "from osgeo import gdal"
                  gdalinfo --version
            - name: Install dependencies
              run: |
                  python -m pip install --upgrade pip
                  pip install --no-cache-dir Cython
                  pip install -r requirements.txt
                  pip install .
